<% include partials/header %>
<h1>Create a new campground</h1>
<a href="/campgrounds">Back</a>
<form action="/campgrounds" method="POST">
    <div class="form-group">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="img" placeholder="image url">
    <button class="btn btn-lg btn-primary">Submit</button>
    </div>
</form>
<% include partials/footer %>